name: My-First-Workflow
on: [push,workflow_dispatch]
jobs: 
  my-first-job:
    runs-on: ubuntu-latest

    steps: 
      - name: List all files
        run: ls -a
    
      - name: Print Current Working Directory
        run: pwd

      - name: Checkout Repository
        uses: actions/checkout@v6
