name: My-First-Workflow
on: [push,workflow_dispatch]
jobs: 
  my-first-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Current Working Directory
        run: pwd

      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: List all files
        run: ls -a

      - name: Print Workflow file content
        run: cat ./.github/workflows/main.yml
