name: My-First-Workflow
on: [push,workflow_dispatch]
jobs: 
  my-first-job:
    env: 
      JWT_SECRET_KEY: "My jwt secret"
      AWS_ACCESS_KEY: "This is my key "

    runs-on: ubuntu-latest
    
    steps:
      - run: echo "${{toJson(env)}} "
      - run: echo "${{toJson(secrets)}} "
      - run: echo "${{toJson(runner)}} "


